@import url(login_modal.css);

@font-face {
    font-family: 'Soho';
    src: url('/EventsApp/fonts/SOHOGOTHICPRO-REGULAR.ttf');
}

*{
	font-family:'Soho';
	}

.row {
    margin-right: -15px;
    margin-left: 0px !important;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc !important;
}

.event_text{
	/*margin-left:5px;*/
	color: #8C8C8C;
	line-height: normal;
	}
.event_disc{
	margin-top:10px;
	padding-top:10px;
	font-size: 11pt;
    line-height: normal;
	}
.event_bg{
	    background-color: #F3F3F3;
	}
	
.events_list{
    display: block;
    width: 100%;
    position: relative;
    padding: 10px 25px 15px;
    overflow: hidden;
    border-left-width: 3px;
    border-left-style: solid;
    min-height: 63px;
    border-bottom: none;
	border-color: #206177;
	margin-bottom:10px;
	border-radius:10px;
}
.event_d_date{
	padding-left:0px;
	}
.event_d_title{
	    font-weight: 600;
		
	}
.login{

	}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
    -moz-osx-font-smoothing: grayscale;
}
.events_list:hover{
	background:#ECEDED;
	    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
	border-left-width: 7px;
	}
	.event_cancel{
		    color: #ffffff;
    background: repeating-linear-gradient(45deg,#FDF2F2,#FDF2F2 10px,#FAFAFA 10px,#FAFAFA 20px);
		
		}